@{
    ViewBag.Title = "Home Page";
}
    <link href="~/Content/styleFront.css" rel="stylesheet" type="text/css" />
    
    <body>
        <div class="imghotel">
            <img src=@Url.Content("~/Content/imgs/hotelobraz.jpg") alt="Hotel" />
        </div>
    </body>



